=@work.title
=@work.release
=@work.starring
=@work.description

=link_to "一覧に戻る", works_path
=link_to "編集する",  edit_work_path(@work)
=link_to "削除する", work_path(@work), method: :delete, data: {confirm: "本当にいいですか？"}
