-# -@directors.each do|director|
-#
-#   ="Name："
-#   =link_to director.name, director_path(director)
-#   %br
-#   ="From："
-#   =director.from
-#   %hr
-#
-# =link_to "新規登録", new_director_path

%main#main
  / ======= Works Section =======
  %section.section.site-portfolio
    .container
      .row.mb-5.align-items-center
        .col-md-12.col-lg-6.mb-4.mb-lg-0{"data-aos" => "fade-up"}
          %h2 Director Index
          %p.mb-0 Master directors
        .col-md-12.col-lg-6.text-left.text-lg-right{"data-aos" => "fade-up", "data-aos-delay" => "100"}
          .filters
            =link_to "by Movie" , works_path
            -# %a.active{"data-filter" => "*", :href => "#"} Director
            -# %a{"data-filter" => ".web", :href => "#"} Web
            -# %a{"data-filter" => ".design", :href => "#"} Design
            -# %a{"data-filter" => ".branding", :href => "#"} Branding
            -# %a{"data-filter" => ".photography", :href => "#"} Photography
      #portfolio-grid.row.no-gutter{"data-aos" => "fade-up", "data-aos-delay" => "200"}
        -@directors.each do |director|
          .item.web.col-sm-6.col-md-4.col-lg-4.mb-4
            -# %a.item-wrap.fancybox{:href => "work_path(work)"}
            =link_to director_path(director), class: "item-wrap fancybox" do
              .work-info
                %h3=director.name
                %span=director.from
              %img.img-fluid{:src => "img/img_1.jpg"}/
      =link_to "Add New Director",  new_director_path, class: "btn btn-outline-success"
