=@director.name
=@director.from


=link_to "一覧に戻る", directors_path
=link_to "編集する",  edit_director_path(@director)
=link_to "削除する", director_path(@director), method: :delete, data: {confirm: "本当にいいですか？"}
