#main-navbar.collapse.navbar-collapse.custom-navmenu
  .container.py-2.py-md-5
    .row.align-items-start
      .col-md-2
        %ul.custom-menu
          %li.active
            %a{:href => "index.html"} Home
          -# %li
          -#   %a{:href => "about.html"} About Me
          %li
            %a{:href => "/directors"} Director
          %li
            %a{:href => "/works"} Works
          %br
          -if user_signed_in?
            %li
              %a{:href => "/login/profile/edit"}  My Page
            %li
              %a{:href => "/users/sign_out"}  Logout
          -else
            %li
              %a{:href => "/users/sign_in"}  Login
            %li
              %a{:href => "/users/sign_up"}  Sign UP

      .col-md-6.d-none.d-md-block.mr-auto
        .tweet.d-flex
          %span.icofont-twitter.text-white.mt-2.mr-3
          %div
            %p
              %em
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus incidunt ut officiis explicabo inventore.
                %br/
                %a{:href => "#"} t.co/v82jsk
      -if user_signed_in?
        .col-md-4.d-none.d-md-block
          .testimonial-wrap
            .testimonial
              =image_tag current_user.profile.image_url(:thumb), class: 'img-fluid'
              -# %img.img-fluid{:alt => "Image", :src => "assets/img/person_1.jpg"}/
              %blockquote
          %h3="         #{current_user.profile.first_name} #{current_user.profile.last_name}"
          %p=current_user.profile.introduction


      -# .col-md-4.d-none.d-md-block
      -#   %h3 Hire Me
      -#   %p
      -#     Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus incidunt ut officiisexplicabo inventore.
      -#     %br/
      -#     %a{:href => "#"} myemail@gmail.com
%nav.navbar.navbar-light.custom-navbar
  .container
    -# %a.navbar-brand{:href => "index.html"} MyPortfolio.
    =link_to "Movielog", works_path, class: "navbar-brand"
    %a.burger{"data-target" => "#main-navbar", "data-toggle" => "collapse", :href => "#"}
      %span
